* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    width: 100%;
    height: 100vh;
    background-color: rgb(15, 78, 98);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;

    >h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        color: white;
        font-size: 40px;
    }

    >.first {
        display: flex;
        flex-wrap: wrap;
        width: 540px;
        height: 540px;
        justify-content: center;
        align-content: center;

        >span {
            width: 180px;
            height: 180px;
            border: 1px solid white;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 100px;


            &:nth-of-type(1) {
                border-bottom: 5px solid white;
            }

            &:nth-of-type(2) {
                border-inline: 5px solid white;
                border-bottom: 5px solid white;
            }

            &:nth-of-type(3) {
                border-bottom: 5px solid white;
            }

            &:nth-of-type(5) {
                border-inline: 5px solid white;
                border-bottom: 5px solid white;

            }

            &:nth-of-type(8) {
                border-inline: 5px solid white;
            }

            &:nth-of-type(4) {
                border-bottom: 5px solid white;
            }

            &:nth-of-type(6) {
                border-bottom: 5px solid white;
            }
        }
    }

    >.btDiv {
        justify-content: center;
        align-content: center;
        display: flex;
        width: 100%;

        >button {
            margin-left: 10px;
            width: 200px;
            height: 40px;
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            height: 40px;
            background-color: rgba(128, 128, 128, 0.559);
            border: none;
            border-radius: 18px;
            color: white;
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            cursor: pointer;
            border: 1px solid white;
            text-transform: capitalize;
        }
    }
}